# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# Database
backend/*.db

# Generated reports
backend/*_report.pdf

# Environment variables
backend/.env
frontend/.env

# React
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
